.imoveis_template img {
    width: 100%;
    height: 100%;
}
.imoveis_template .aluguel {
    font-weight: bold;
    font-size: 18px;
    background: #ebff4e;
}
.imoveis_template .venda {
    font-weight: bold;
    font-size: 18px;
    background: #ff667a;
}
.imoveis_template p span {
    float: right;
}
.imoveis_template .cidade {
    font-size: 10px;
}
.imoveis_template .bairro {
    font-size: 16px;
    font-weight: 600;
}